        html {
            background-size: cover;
        }
        
        body {
            text-align: center;
            color: #ccc;
        }
        
        h1 {
            font-size: 50px;
        }
        
        body {
            font: 20px Helvetica, sans-serif;
        }
        
        article {
            height: 100%;
            /* padding-top: 2em; */
            display: table;
        }
        /* article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
} */
        
        .wrapper {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            height: inherit;
        }
        
        .content {
            height: inherit;
        }
        
        .wrapper.content {
            padding: 2em;
            display: table-cell;
        }
        
        a {
            color: #dc8100;
            text-decoration: none;
        }
        
        a:hover {
            color: #333;
            text-decoration: none;
        }
        /* form styling values */
        
        input {
            text-align: center;
        }
        
        input[type=email],
        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        
        .team-crea {
            color: rgb(236, 174, 16);
            font-weight: 100;
        }
        
        input[type=submit] {
            width: 100%;
            background-color: whitesmoke;
            color: rgb(185, 136, 12);
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            border-color: goldenrod;
        }
        /* page transitions */
        
        #home {
            animation: fadeInAnimation ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        
        @keyframes fadeInAnimation {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
        }
        /* Successful subscription */
        
        #subscribeSuccess {
            opacity: 0;
            color: rgb(236, 174, 16);
            font-weight: 100;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .showSuccess {
            animation: 5s ease-in-out fadeinout;
        }
        
        @keyframes fadeinout {
            0%,
            100% {
                opacity: 0;
            }
            20%,
            80% {
                opacity: 0.6;
            }
            30%,
            70% {
                opacity: 0.9;
            }
            50% {
                opacity: 1;
            }
        }
        /* security-policy */
        
        #security-policy,
        #copyright {
            font-size: medium;
            font-family: 'Courier New', Courier, monospace;
            color: yellow;
        }
        
        #security-policy {
            margin-bottom: 0px;
        }
        
        #copyright {
            margin-top: 0px;
        }
        /* Only for pc*/
        
        @media (min-width:1025px) {
            .wrapper.content {
                width: 30%;
            }
            form {
                width: 50%;
                height: auto;
                margin: 0 auto;
            }
        }